@charset "utf-8";
html{
	font-size: 100px;
}
.btn{
	display: table;
	width: 5.97rem;
	/*height: 11.3%;*/
	background-color: #0781fe;
	color:#fff;
	font-size: 0.32rem;
	border-radius: 0.5rem;
	text-align: center;
	/*line-height: 6.4vh;*/
	cursor: pointer;
	padding:0.28rem 0;
	margin: 0 auto;
}
.btnMar{
	margin-top: 13.1vw;
}
