@charset "utf-8";
@import "common";
#sys-info{
	padding-top: 2.08rem;
	.registerTitle,.title{
		font-size: 0.48rem;
		color:#000;
		text-align: center;
	}
	.title{
		padding-bottom: 2.1rem;
		
	}
	.registerTitle{
		padding-bottom: 19.3vw;
	}
	#user{
		overflow: hidden;
		padding: 0 0.72rem;
		p{
			position: relative;
			height: 0.59rem;
			margin-bottom: 0.61rem;
		}
		#lastP{
			margin-bottom: 0.35rem;
		}
		/*#lastP{
			background: url(../image/login/hide.png) no-repeat;
    		background-position: bottom right;
    		background-size: contain;
		}*/
		.userName{
			background: url(../image/login/user.png) no-repeat;
    		background-position: bottom left;
    		background-size: contain;
		}
		.pwd{
			background: url(../image/login/pwd.png) no-repeat;
    		background-position: bottom left;
    		background-size: contain;
		}
		input{
			float: right;
			width: 5.29rem;
			height: 100%;
			border-bottom: 0.01rem solid #d2d2d2;
			font-size: 0.26rem;
			color:#b8b8b8;
			outline:none;

		}
		.code{
			position: absolute;
			right: 0;
			top: 0.8vw;
			border-radius: 2.5vw;
			font-size: 1.6vw;
			color:#fff;
			background-color: #0781fe;
			padding: 1.3vw;
		}
		.pwdHide{
			position: absolute;
			right: 0.32rem;
			top: 0.175rem;
			width: 0.31rem;
			height: auto;
		}
	}
	.forgetPwd{
		font-size: 0.22rem;
		color:#0781fe;
		text-align: right;
	}
	.register{
		font-size: 0.26rem;
		padding:0.36rem 0;
		text-align: center;
		span:nth-child(1){
			color:#c5c5c5;
		}
		span:nth-child(2){
			color:#3699fe;
		};
	}
	.nooLogin{
		font-size: 0.26rem;
		color:#3699fe;
		text-align: center;
	}
	.iphoneCode{
		background: url(../image/login/code.png) no-repeat;
		background-position: bottom left;
		background-size: contain;
	}
	.iphone{
		background: url(../image/login/iphone.png) no-repeat;
		background-position: bottom left;
		background-size: contain;
	}
}